@page "/AiSearch"
@using Demo.EnrichedSearch.Shared.Models
@using Demo.EnrichedSearch.Shared.Models.AiSearch
@using Azure.Search.Documents.Indexes.Models
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h3>AiSearch</h3>

@code {

}
